#Basketball-reference Quartile Calc

In [1]:
# special IPython command to prepare the notebook for matplotlib
from collections import defaultdict

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import re

### Read Player Seaaon CSV

In [2]:
df_Season_Collect = pd.read_csv('e:\\nba\\Season_Collection.csv', header=0)

df_Season_Collect.info()
#df_Season_Collect.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3440 entries, 0 to 3439
Data columns (total 33 columns):
Season       3440 non-null object
Age          3440 non-null int64
Tm           3440 non-null object
Lg           3440 non-null object
Pos          3440 non-null object
G            3440 non-null int64
MP           3440 non-null int64
PER          3440 non-null float64
TS_Per       3440 non-null float64
Three_Per    3440 non-null float64
FT_Per       3440 non-null float64
ORB_Per      3440 non-null float64
DRB_Per      3440 non-null float64
TRB_Per      3440 non-null float64
AST_Per      3440 non-null float64
STL_Per      3440 non-null float64
BLK_Per      3440 non-null float64
TOV_Per      3440 non-null float64
USG_Per      3440 non-null float64
OWS          3440 non-null float64
DWS          3440 non-null float64
WS           3440 non-null float64
WS48         3440 non-null float64
OBPM         3440 non-null float64
DBPM         3440 non-null float64
BPM          3440 non-null float64
VORP         3440 non-null float64
TranFlag     3440 non-null object
Salary       3440 non-null int64
ORtg         3440 non-null float64
DRtg         3440 non-null float64
EFF          3440 non-null int64
GmSc         3440 non-null float64
dtypes: float64(23), int64(5), object(5)
memory usage: 913.8+ KB

In [3]:
year_list = df_Season_Collect['Season'].unique()
print year_list
yearStr = year_list[1]

['1995-96' '1996-97' '1997-98' '1998-99' '1999-00' '2000-01' '2001-02'
 '2002-03' '2003-04' '2004-05' '2005-06' '2006-07' '2007-08' '2008-09'
 '2009-10' '2010-11' '2011-12' '2012-13' '2013-14' '2014-15']

In [4]:
def getYearQuartile(df_year):
    df_year['Salary'].quantile([0,.25,.5,.75,1])
    Quartile_list = (Min,Q1,Q2,Q3,Q4) =  df_year['Salary'].quantile([0,.25,.5,.75,1])  
    df_year.loc[:,'Q1'] = Q1
    df_year.loc[:,'Q2'] = Q2
    df_year.loc[:,'Q3'] = Q3
    df_year.loc[:,'Q4'] = Q4   
    
    return df_year

In [5]:
def CheckQuartile(x):
    Q1 = x[33]
    Q2 = x[34]
    Q3 = x[35]
    Q4 = x[36]
    Salary = x[28]
    
    if (Salary <= Q1):
        result = "Q1"
    elif (Salary > Q1) & (Salary <= Q2):
        result = "Q2"
    elif (Salary > Q2) & (Salary <= Q3):
        result = "Q3"
    elif (Salary > Q3) & (Salary <= Q4):
        result = "Q4"
    else:
        result = "Q2"
    
    return result

In [6]:
year = df_Season_Collect['Season'].map(lambda x: x == yearStr)
df_year = df_Season_Collect[year]
df_year

,Season,Age,Tm,Lg,Pos,G,MP,PER,TS_Per,Three_Per,...,OBPM,DBPM,BPM,VORP,TranFlag,Salary,ORtg,DRtg,EFF,GmSc
2,1996-97,18,LAL,NBA,SG,71,1103,14.4,0.544,0.322,...,-0.9,-0.8,-1.7,0.1,N,1015000,101,105,6,4.738028
3,1996-97,22,LAL,NBA,PG,80,921,11.0,0.491,0.279,...,-2.5,-1.0,-3.5,-0.3,N,612000,98,106,3,2.648750
4,1996-97,21,MIL,NBA,SG,82,2532,14.6,0.541,0.328,...,1.6,-1.2,0.3,1.5,N,1785000,109,110,12,8.953659
5,1996-97,20,MIN,NBA,SF,77,2995,18.2,0.537,0.019,...,0.3,2.6,2.9,3.7,N,1666000,107,105,21,14.583117
6,1996-97,22,PHI,NBA,SG,81,3166,14.1,0.524,0.261,...,0.2,-2.2,-2.0,0.0,N,2286000,102,115,14,12.204938
7,1996-97,22,PHO,NBA,PG,65,684,10.8,0.539,0.314,...,-1.8,-2.8,-4.6,-0.5,N,916000,103,112,4,2.440000
8,1996-97,18,POR,NBA,PF,45,458,13.7,0.494,0.007,...,-5.2,-1.1,-6.3,-0.5,N,827000,100,102,4,2.806667

In [7]:
df_result = getYearQuartile(df_year)
df_result.loc[:,'Quartile'] = df_result.apply(CheckQuartile,axis =1)
df_result

C:\Anaconda\lib\site-packages\pandas\core\indexing.py:245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = np.nan
C:\Anaconda\lib\site-packages\pandas\core\indexing.py:415: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,Season,Age,Tm,Lg,Pos,G,MP,PER,TS_Per,Three_Per,...,Salary,ORtg,DRtg,EFF,GmSc,Q1,Q2,Q3,Q4,Quartile
2,1996-97,18,LAL,NBA,SG,71,1103,14.4,0.544,0.322,...,1015000,101,105,6,4.738028,871500,1015000,1725500,2286000,Q2
3,1996-97,22,LAL,NBA,PG,80,921,11.0,0.491,0.279,...,612000,98,106,3,2.648750,871500,1015000,1725500,2286000,Q1
4,1996-97,21,MIL,NBA,SG,82,2532,14.6,0.541,0.328,...,1785000,109,110,12,8.953659,871500,1015000,1725500,2286000,Q4
5,1996-97,20,MIN,NBA,SF,77,2995,18.2,0.537,0.019,...,1666000,107,105,21,14.583117,871500,1015000,1725500,2286000,Q3
6,1996-97,22,PHI,NBA,SG,81,3166,14.1,0.524,0.261,...,2286000,102,115,14,12.204938,871500,1015000,1725500,2286000,Q4
7,1996-97,22,PHO,NBA,PG,65,684,10.8,0.539,0.314,...,916000,103,112,4,2.440000,871500,1015000,1725500,2286000,Q2
8,1996-97,18,POR,NBA,PF,45,458,13.7,0.494,0.007,...,827000,100,102,4,2.806667,871500,1015000,1725500,2286000,Q1

In [8]:
#df_output = pd.DataFrame(data=None, columns=df_result.columns,index=0)
df_Season_output = pd.DataFrame(columns=df_result.columns)
df_Season_output

Empty DataFrame
Columns: [Season, Age, Tm, Lg, Pos, G, MP, PER, TS_Per, Three_Per, FT_Per, ORB_Per, DRB_Per, TRB_Per, AST_Per, STL_Per, BLK_Per, TOV_Per, USG_Per, OWS, DWS, WS, WS48, OBPM, DBPM, BPM, VORP, TranFlag, Salary, ORtg, DRtg, EFF, GmSc, Q1, Q2, Q3, Q4, Quartile]
Index: []

[0 rows x 38 columns]

In [9]:
for yearStr in year_list:
    year = df_Season_Collect['Season'].map(lambda x: x == yearStr)
    df_year = df_Season_Collect[year]
    df_result = getYearQuartile(df_year)
    df_result.loc[:,'Quartile'] = df_result.apply(CheckQuartile,axis =1)
    df_Season_output = df_Season_output.append(df_result)

In [10]:
df_Season_output.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3440 entries, 0 to 3439
Data columns (total 38 columns):
Season       3440 non-null object
Age          3440 non-null float64
Tm           3440 non-null object
Lg           3440 non-null object
Pos          3440 non-null object
G            3440 non-null float64
MP           3440 non-null float64
PER          3440 non-null float64
TS_Per       3440 non-null float64
Three_Per    3440 non-null float64
FT_Per       3440 non-null float64
ORB_Per      3440 non-null float64
DRB_Per      3440 non-null float64
TRB_Per      3440 non-null float64
AST_Per      3440 non-null float64
STL_Per      3440 non-null float64
BLK_Per      3440 non-null float64
TOV_Per      3440 non-null float64
USG_Per      3440 non-null float64
OWS          3440 non-null float64
DWS          3440 non-null float64
WS           3440 non-null float64
WS48         3440 non-null float64
OBPM         3440 non-null float64
DBPM         3440 non-null float64
BPM          3440 non-null float64
VORP         3440 non-null float64
TranFlag     3440 non-null object
Salary       3440 non-null float64
ORtg         3440 non-null float64
DRtg         3440 non-null float64
EFF          3440 non-null float64
GmSc         3440 non-null float64
Q1           3440 non-null float64
Q2           3440 non-null float64
Q3           3440 non-null float64
Q4           3440 non-null float64
Quartile     3440 non-null object
dtypes: float64(32), object(6)
memory usage: 1.0+ MB

###Read Player Playoffs CSV

In [11]:
df_Playoffs_Collect = pd.read_csv('e:\\nba\\Playoffs_Collection.csv', header=0)

df_Playoffs_Collect.info()
#df_Playoffs_Collect.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1595 entries, 0 to 1594
Data columns (total 33 columns):
Season       1595 non-null object
Age          1595 non-null int64
Tm           1595 non-null object
Lg           1595 non-null object
Pos          1595 non-null object
G            1595 non-null int64
MP           1595 non-null int64
PER          1595 non-null float64
TS_Per       1595 non-null float64
Three_Per    1595 non-null float64
FT_Per       1595 non-null float64
ORB_Per      1595 non-null float64
DRB_Per      1595 non-null float64
TRB_Per      1595 non-null float64
AST_Per      1595 non-null float64
STL_Per      1595 non-null float64
BLK_Per      1595 non-null float64
TOV_Per      1595 non-null float64
USG_Per      1595 non-null float64
OWS          1595 non-null float64
DWS          1595 non-null float64
WS           1595 non-null float64
WS48         1595 non-null float64
OBPM         1595 non-null float64
DBPM         1595 non-null float64
BPM          1595 non-null float64
VORP         1595 non-null float64
TranFlag     1595 non-null object
Salary       1595 non-null int64
ORtg         1595 non-null float64
DRtg         1595 non-null float64
EFF          1595 non-null int64
GmSc         1595 non-null float64
dtypes: float64(23), int64(5), object(5)
memory usage: 423.7+ KB

In [12]:
year_list = df_Playoffs_Collect['Season'].unique()
print year_list

['1996-97' '1997-98' '1998-99' '1999-00' '2000-01' '2001-02' '2002-03'
 '2003-04' '2004-05' '2005-06' '2006-07' '2007-08' '2008-09' '2009-10'
 '2010-11' '2011-12' '2012-13' '2013-14' '2014-15']

In [13]:
df_Playoffs_output = pd.DataFrame(columns=df_Season_output.columns)
df_Playoffs_output

Empty DataFrame
Columns: [Season, Age, Tm, Lg, Pos, G, MP, PER, TS_Per, Three_Per, FT_Per, ORB_Per, DRB_Per, TRB_Per, AST_Per, STL_Per, BLK_Per, TOV_Per, USG_Per, OWS, DWS, WS, WS48, OBPM, DBPM, BPM, VORP, TranFlag, Salary, ORtg, DRtg, EFF, GmSc, Q1, Q2, Q3, Q4, Quartile]
Index: []

[0 rows x 38 columns]

In [14]:
for yearStr in year_list:
    year = df_Playoffs_Collect['Season'].map(lambda x: x == yearStr)
    df_year = df_Playoffs_Collect[year]
    df_result = getYearQuartile(df_year)
    df_result.loc[:,'Quartile'] = df_result.apply(CheckQuartile,axis =1)
    df_Playoffs_output = df_Playoffs_output.append(df_result)

In [15]:
df_Playoffs_output.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1595 entries, 0 to 1594
Data columns (total 38 columns):
Season       1595 non-null object
Age          1595 non-null float64
Tm           1595 non-null object
Lg           1595 non-null object
Pos          1595 non-null object
G            1595 non-null float64
MP           1595 non-null float64
PER          1595 non-null float64
TS_Per       1595 non-null float64
Three_Per    1595 non-null float64
FT_Per       1595 non-null float64
ORB_Per      1595 non-null float64
DRB_Per      1595 non-null float64
TRB_Per      1595 non-null float64
AST_Per      1595 non-null float64
STL_Per      1595 non-null float64
BLK_Per      1595 non-null float64
TOV_Per      1595 non-null float64
USG_Per      1595 non-null float64
OWS          1595 non-null float64
DWS          1595 non-null float64
WS           1595 non-null float64
WS48         1595 non-null float64
OBPM         1595 non-null float64
DBPM         1595 non-null float64
BPM          1595 non-null float64
VORP         1595 non-null float64
TranFlag     1595 non-null object
Salary       1595 non-null float64
ORtg         1595 non-null float64
DRtg         1595 non-null float64
EFF          1595 non-null float64
GmSc         1595 non-null float64
Q1           1595 non-null float64
Q2           1595 non-null float64
Q3           1595 non-null float64
Q4           1595 non-null float64
Quartile     1595 non-null object
dtypes: float64(32), object(6)
memory usage: 486.0+ KB

###Output DataFrame to CSV

In [16]:
def Output_CSV(output_df,location):    
    output_file = open(location, "ab")
    output_df.to_csv(output_file,index=False)
    output_file.close()

In [17]:
Season_location = "e:\\nba\\Season_Quartile.csv"
Playoffs_location = "e:\\nba\\Playoffs_Quartile.csv"

Output_CSV(df_Season_output,Season_location)
Output_CSV(df_Playoffs_output,Playoffs_location)